.botao {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100px;          
  }
  

  .botao button {
    font-weight: bold;
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  